@font-face {
  font-family: 'Oswald';
  src:url(Oswald-Regular.ttf);

 }
body{
background-color:#FFFFFF;
font-family:'Oswald', sans-serif;
margin:0;
width:100%;
}
.header{
width:100%;
margin:0 auto;
background-color:#FFFFFF;
height:68px;
position:fixed;
z-index:20000;
}
.logo
{
float:left;
padding-left:80px;
padding-top:5px;
}
h1{
display:inline;
padding-left:20px;
font-size: 45px;
font-weight: 700;
text-transform: uppercase;
color: #25BCE9
}
.header a{
text-decoration:none;
color: #000000;
}
.header a:hover{
color: #25BCE9;
}
 ul{
list-style-type:none;
text-align:center;
margin-right:90px;
font-size: 14px;
font-family:Arial, sans-serif;
}
 li{
float:left;
margin-left:15px;
padding-top:10px;
margin-right:35px;
}
.nav{
float:right;
}
.content{
height:820px;
background-color: rgb(238, 238, 238);
}
.content .img img{
width:100%;
height:700px;
}
.na{
position:absolute;
color:#fff;
top:290px;
left:380px;
font-size:40px;

}
.btn a
{
position:absolute;
margin-top:-290px;
left:510px;
background-color: rgb(37, 190, 171);
   width:150px;
height:35px;
padding-top:15px;
   text-align:center;
   text-decoration: none;
color:#FFFFFF;
    font-size: 16px;
font-family:Arial, sans-serif;
}
.btn1 a
{
font-family:Arial, sans-serif;
position:absolute;
margin-top:-290px;
left:665px;
background-color: rgb(52, 93, 166);
   width:150px;
height:35px;
padding-top:15px;
   text-align:center;
   text-decoration: none;
color:#FFFFFF;
    font-size: 16px;
}
.lab{
display:inline;
}
.na1{
position:absolute;
color:#fff;
top:350px;
left:570px;
font-family:'Oswald', sans-serif;
font-size:23px;
}

.content1 a
{
margin-left:80px;
display:inline-flex;
    position: relative;
  padding:30px;  
width:500px;
height:90px;
border:1px solid #eee;
border-radius:15px;

}
.content1 a:hover{
box-shadow:0 8px 16px 0 #2196f3;
transform:rotateY(360deg);
}
.content2 a
{
margin-top:-150px;
margin-left:700px;
display:inline-flex;
    position: relative;
  padding:30px;  
width:500px;
height:90px;
border:1px solid #eee;
border-radius:15px;

}
.content2 a:hover{
box-shadow:0 8px 16px 0 #2196f3;
transform:rotateY(360deg);
}
.content3 a 
{
margin-left:80px;
margin-top:45px;
display:inline-flex;
    position: relative;
  padding:30px;  
width:500px;
height:90px;
border:1px solid #eee;
border-radius:15px;

}
.content3 a:hover{
box-shadow:0 8px 16px 0 #2196f3;
transform:rotateY(360deg);
}
.content4 a
{
margin-left:700px;
margin-top:-150px;
display:inline-flex;
    position: relative;
  padding:30px;  
width:500px;
height:90px;
border:1px solid #eee;
border-radius:15px;

}
.content4 a:hover{
box-shadow:0 8px 16px 0 #2196f3;
transform:rotateY(360deg);
}
.content5 a 
{
margin-left:80px;
margin-top:45px;
display:inline-flex;
    position: relative;
  padding:30px;  
width:500px;
height:90px;
border:1px solid #eee;
border-radius:15px;

}
.content5 a:hover{
box-shadow:0 8px 16px 0 #2196f3;
transform:rotateY(360deg);
}
.content6 a
{
margin-left:700px;
margin-top:-150px;
display:inline-flex;
    position: relative;
  padding:30px;  
width:500px;
height:90px;
border:1px solid #eee;
border-radius:15px;

}
.content6 a:hover{
box-shadow:0 8px 16px 0 #2196f3;
transform:rotateY(360deg);
}
.content6 .cont5{
padding-left:20px;
}
.content5 .cont4{
padding-left:20px;
}
.content4 .cont3{
padding-left:20px;
}
.content3 .cont2{
padding-left:20px;
}
.content2 .cont1{
padding-left:20px;
}
.content1 .cont{
padding-left:20px;
}
 p{
width:460px;
text-decoration:none;
color:#000000;
font-family:Arial, sans-serif;
font-style-normal;
font-size:15px;
}

.pub img{
margin-top:12px;
transition:all 0.7s ease-out;	
}
.pub img:hover{
transform:rotateY(360deg);
}
.images  img{
height:270px;
width:450px;
}
.imag{
text-align:left;
margin-top:100px;
}
.imag1{
margin-top:-270px;
margin-left:450px;
}
.imag2{
margin-top:-270px;
margin-left:899px;
}
.images h3{
text-transform:uppercase;
position:absolute;
color:#fff;
}
.images .imag h3{
font-size:25px;
margin-top:-150px;
margin-left:30px;
}
.images .imag1 h3{
font-size:25px;
margin-top:-150px;
margin-left:30px;
}
.images .imag2 h3{
font-size:25px;
margin-top:-150px;
margin-left:30px;
}

#dcdcdc